- name: Create stack directory
  ansible.builtin.file:
    path: "{{ docker_rootless_user.home }}/stacks/redis"
    owner: "{{ docker_rootless_user.name }}"
    group: "{{ docker_rootless_user.name }}"
    mode: "0755" # drwxr-xr-x
    state: directory
  register: redis_server_stack_dir

- name: Deploy redis-password
  ansible.builtin.copy:
    content: "{{ redis_server_password }}"
    dest: "{{ redis_server_stack_dir.path }}/redis-password"
    owner: "{{ docker_rootless_subuid + 1001 - 1 }}"
    group: "{{ docker_rootless_user.name }}"
    mode: "0600" # -rw-------
  register: redis_server_password_file
  notify:
    - Restart Redis

- name: Deploy users.acl
  ansible.builtin.template:
    src: roles/redis_server/templates/users.acl.j2
    dest: "{{ redis_server_stack_dir.path }}/users.acl"
    owner: "{{ docker_rootless_subuid + 1001 - 1 }}"
    group: "{{ docker_rootless_user.name }}"
    mode: "0600" # -rw-------
  register: redis_server_users_file
  notify:
    - Restart Redis

- name: Deploy TLS
  when: redis_server_tls
  block:
    - name: Deploy redis-tls
      ansible.builtin.copy:
        src: roles/redis_server/files/redis-tls/
        dest: "{{ redis_server_stack_dir.path }}/redis-tls/"
        owner: "{{ docker_rootless_user.name }}"
        group: "{{ docker_rootless_user.name }}"
        mode: preserve
        directory_mode: "0755" # drwxr-xr-x
      register: redis_server_tls_dir
    - name: Deploy tls-password
      ansible.builtin.copy:
        content: "{{ redis_server_tls_password }}"
        dest: "{{ redis_server_stack_dir.path }}/tls-password"
        owner: "{{ docker_rootless_subuid + 1001 - 1 }}"
        group: "{{ docker_rootless_user.name }}"
        mode: "0600" # -rw-------
      register: redis_server_tls_password_file
      notify:
        - Restart Redis
    - name: Deploy acme-rfc2136.ini
      ansible.builtin.template:
        src: roles/redis_server/templates/acme-rfc2136.ini.j2
        dest: "{{ redis_server_stack_dir.path }}/acme-rfc2136.ini"
        owner: "{{ docker_rootless_subuid + 1001 - 1 }}"
        group: "{{ docker_rootless_user.name }}"
        mode: "0600" # -rw-------
      register: redis_server_tls_acme_rfc2136_file
      notify:
        - Restart Redis

- name: Deploy stack.yml
  ansible.builtin.template:
    src: roles/redis_server/templates/stack.yml.j2
    dest: "{{ redis_server_stack_dir.path }}/stack.yml"
    owner: "{{ docker_rootless_user.name }}"
    group: "{{ docker_rootless_user.name }}"
    mode: "0644" # -rw-r--r--

- name: Create and start Redis
  become: true
  become_user: "{{ docker_rootless_user.name }}"
  environment:
    XDG_RUNTIME_DIR: /run/user/{{ docker_rootless_user.name }}
    DOCKER_HOST: unix:///run/user/{{ docker_rootless_user.name }}/docker.sock
  community.docker.docker_compose_v2:
    project_src: "{{ redis_server_stack_dir.path }}"
    files: [stack.yml]
    state: present
