- name: Install required packages
  block:
    - name: Install required packages on Alpine Linux
      when: ansible_os_family == "Alpine"
      community.general.apk:
        name: py3-psycopg2
        state: installed

- name: Deploy pg_hba.conf fragment
  when: postgresql_client_hba_id
  run_once: true
  loop: "{{ groups['postgresql'] }}"
  delegate_to: "{{ item }}"
  community.postgresql.postgresql_pg_hba:
    # TODO Get home path from ansible.builtin.user and stack path from a filter
    dest: /home/{{ postgresql_client_hba_username }}/stacks/postgresql/conf/pg_hba.d/{{ postgresql_client_hba_id }}.conf
    rules: "{{ postgresql_client_hba_rules }}"
    create: true
    overwrite: true
    keep_comments_at_rules: true
    # Standard chown/chmod options
    owner: "{{ postgresql_client_hba_username }}"
    group: "{{ postgresql_client_hba_username }}"
    mode: "0644" # -rw-r--r--
  notify:
    - Reload PostgreSQL

- name: Create user {{ postgresql_client_username }}
  run_once: true
  environment:
    PGOPTIONS: "-c password_encryption=scram-sha-256"
  community.postgresql.postgresql_user:
    login_host: "{{ postgresql_client_login_host }}"
    login_port: "{{ postgresql_client_login_port }}"
    login_user: "{{ postgresql_client_login_username }}"
    login_password: "{{ postgresql_client_login_password }}"
    login_db: "{{ postgresql_client_login_database }}"
    user: "{{ postgresql_client_username }}"
    password: "{{ postgresql_client_password }}"
    state: present

- name: Create database {{ postgresql_client_database }}
  run_once: true
  community.postgresql.postgresql_db:
    login_host: "{{ postgresql_client_login_host }}"
    login_port: "{{ postgresql_client_login_port }}"
    login_user: "{{ postgresql_client_login_username }}"
    login_password: "{{ postgresql_client_login_password }}"
    maintenance_db: "{{ postgresql_client_login_database }}"
    name: "{{ postgresql_client_database }}"
    owner: "{{ postgresql_client_username }}"
    state: present
