- name: Install required packages
  block:
    - name: Install required packages on Alpine Linux
      when: ansible_os_family == "Alpine"
      community.general.apk:
        name: py3-psycopg2
        state: installed

- name: Create user {{ postgresql_client_username }}
  run_once: true
  environment:
    PGOPTIONS: "-c password_encryption=scram-sha-256"
  community.postgresql.postgresql_user:
    login_host: "{{ postgresql_client_login_host }}"
    login_port: "{{ postgresql_client_login_port }}"
    login_user: "{{ postgresql_client_login_username }}"
    login_password: "{{ postgresql_client_login_password }}"
    login_db: "{{ postgresql_client_login_database }}"
    user: "{{ postgresql_client_username }}"
    password: "{{ postgresql_client_password }}"
    state: present

- name: Create database {{ postgresql_client_database }}
  run_once: true
  community.postgresql.postgresql_db:
    login_host: "{{ postgresql_client_login_host }}"
    login_port: "{{ postgresql_client_login_port }}"
    login_user: "{{ postgresql_client_login_username }}"
    login_password: "{{ postgresql_client_login_password }}"
    maintenance_db: "{{ postgresql_client_login_database }}"
    name: "{{ postgresql_client_database }}"
    owner: "{{ postgresql_client_username }}"
    state: present
