- name: Create user
  ansible.builtin.user:
    name: "{{ step_ca_username }}"
    password: "!"
    comment: Step CA
    state: present
  register: step_ca_user

- name: Register bin state
  ansible.builtin.file:
    path: "{{ step_ca_user.home }}/.local/bin/step-ca"
    state: file
  ignore_errors: true
  register: step_ca_bin_file

- name: Install
  when: step_ca_bin_file.failed
  become: true
  become_user: "{{ step_ca_user.name }}"
  block:
    - name: Install required packages for build
      become: false # "sudo"
      block:
        - name: Install required packages for build on Alpine Linux
          when: ansible_os_family == "Alpine"
          community.general.apk:
            name:
              - go
              - pcsc-lite-dev
              - gcc
              - make
              - pkgconf
              - curl
              - musl-dev
            state: installed
    - name: Create build directory
      ansible.builtin.file:
        path: "{{ step_ca_user.home }}/src"
        owner: "{{ step_ca_user.name }}"
        group: "{{ step_ca_user.name }}"
        mode: "0700" # drwx------
        state: directory
      register: step_ca_build_dir
    - name: Download sources
      ansible.builtin.get_url:
        url: https://github.com/smallstep/certificates/releases/download/v{{ step_ca_version }}/step-ca_{{ step_ca_version }}.tar.gz
        checksum: sha256:{{ step_ca_checksum }}
        dest: "{{ step_ca_build_dir.path }}/step-ca.tar.gz"
        owner: "{{ step_ca_user.name }}"
        group: "{{ step_ca_user.name }}"
        mode: "0600" # -rw-------
    - name: Unarchive sources
      ansible.builtin.command:
        chdir: "{{ step_ca_build_dir.path }}"
        # e(x)tract, (v)erbose, g(z)ip, (f)ile
        cmd: tar -xvzf step-ca.tar.gz
      changed_when: true
      tags:
        # TODO Use unarchive module
        - skip_ansible_lint
    - name: Bootstrap
      community.general.make:
        chdir: "{{ step_ca_build_dir.path }}"
        target: bootstrap
    - name: Build
      community.general.make:
        chdir: "{{ step_ca_build_dir.path }}"
        target: build
        params:
          GO_ENVS: CGO_ENABLED=1
    - name: Create install directory
      ansible.builtin.file:
        path: "{{ step_ca_bin_file.path | dirname }}"
        owner: "{{ step_ca_user.name }}"
        group: "{{ step_ca_user.name }}"
        mode: "2711" # drwx--s--x
        state: directory
    - name: Install
      ansible.builtin.copy:
        remote_src: true
        src: "{{ step_ca_build_dir.path }}/bin/step-ca"
        dest: "{{ step_ca_bin_file.path }}"
        owner: "{{ step_ca_user.name }}"
        group: "{{ step_ca_user.name }}"
        mode: "2711" # -rwx--s--x
    - name: Delete build directory
      ansible.builtin.file:
        path: "{{ step_ca_build_dir.path }}"
        state: absent
    - name: Reboot
      become: false # "sudo"
      ansible.builtin.reboot:

- name: Recreate user
  ansible.builtin.user:
    name: "{{ step_ca_user.name }}"
    password: "!"
    comment: "{{ step_ca_user.comment }}"
    state: present
  register: step_ca_user

- name: Create data directory
  ansible.builtin.file:
    path: "{{ step_ca_user.home }}/.local/share/step-ca"
    owner: "{{ step_ca_user.name }}"
    group: "{{ step_ca_user.name }}"
    mode: "2711" # drwx--s--x
    state: directory
  register: step_ca_data_dir

- name: Deploy data
  ansible.builtin.copy:
    src: "roles/step_ca/files/"
    dest: "{{ step_ca_data_dir.path }}/"
    owner: "{{ step_ca_user.name }}"
    group: "{{ step_ca_user.name }}"
    mode: "0600" # -rw-----
    directory_mode: "0700" # drwx------

- name: Create config directory
  ansible.builtin.file:
    path: "{{ step_ca_data_dir.path }}/config"
    owner: "{{ step_ca_user.name }}"
    group: "{{ step_ca_user.name }}"
    mode: "0700" # drwx------
    state: directory
  register: step_ca_config_dir

- name: Deploy ca.json
  ansible.builtin.template:
    src: "roles/step_ca/templates/ca.json.j2"
    dest: "{{ step_ca_config_dir.path }}/ca.json"
    owner: "{{ step_ca_user.name }}"
    group: "{{ step_ca_user.name }}"
    mode: "0600" # -rw-------

- name: Deploy .profile
  ansible.builtin.template:
    src: roles/step_ca/templates/.profile.j2
    dest: "{{ step_ca_user.home }}/.profile"
    owner: "{{ step_ca_user.name }}"
    group: "{{ step_ca_user.name }}"
    mode: "0755" # -rwxr-xr-x

- name: Install required packages
  block:
    - name: Install required packages on Alpine Linux
      when: ansible_os_family == "Alpine"
      community.general.apk:
        name:
          - yubikey-manager
        state: installed

- name: Start and enable pcscd
  ansible.builtin.service:
    name: pcscd
    state: started
    enabled: true

- name: Deploy step-ca
  block:
    - name: Deploy OpenRC step-ca
      when: ansible_os_family == "Alpine"
      ansible.builtin.template:
        src: roles/step_ca/templates/step-ca.openrc.j2
        dest: /etc/init.d/step-ca
        owner: root
        group: root
        mode: "0755" # -rwxr-xr-x

- name: Start and enable step-ca
  ansible.builtin.service:
    name: step-ca
    state: started
    enabled: true
