- name: Install required packages
  ansible.builtin.apt:
    update_cache: true
    name:
      - yubikey-manager
      - libpcsclite-dev
      - gcc
      - make
      - pkg-config
    state: present

- name: Create group "{{ step_ca_group_name }}"
  ansible.builtin.group:
    name: "{{ step_ca_group_name }}"
    gid: "{{ step_ca_group_id }}"
    system: true
    state: present

- name: Create user "{{ step_ca_user_name }}"
  ansible.builtin.user:
    name: "{{ step_ca_user_name }}"
    uid: "{{ step_ca_user_id }}"
    group: "{{ step_ca_group_name }}"
    system: true
    create_home: true
    home: /etc/step-ca
    shell: /usr/sbin/nologin
    state: present

- name: Create systemd service
  ansible.builtin.template:
    src: step-ca.service.j2
    dest: /etc/systemd/system/step-ca.service
    mode: "0644" # -rw-r--r--
  notify:
    - Restart systemd service

- name: Register version
  ansible.builtin.command: step-ca version
  register: step_ca_version_cmd
  changed_when: false
  ignore_errors: true

- name: (Re)install
  when: step_ca_version_cmd.rc != 0 or step_ca_version not in step_ca_version_cmd.stdout
  block:
    - name: Create temporary download file
      ansible.builtin.tempfile:
        suffix: "{{ step_ca_download_filename }}"
        state: file
      register: step_ca_download_file
    - name: Download "{{ step_ca_download_filename }}"
      ansible.builtin.get_url:
        url: https://github.com/smallstep/certificates/releases/download/v{{ step_ca_version }}/{{ step_ca_download_filename }}
        checksum: sha256:{{ step_ca_download_checksum }}
        dest: "{{ step_ca_download_file.path }}"
        mode: "0600" # -rw-------
    - name: Stop systemd service
      ansible.builtin.systemd_service:
        name: step-ca
        state: stopped
    - name: Uninstall previous version
      ansible.builtin.file:
        path: /usr/local/step-ca
        state: absent
    - name: Create installation directory
      ansible.builtin.file:
        path: /usr/local/step-ca
        mode: "0755" # drwxr-xr-x
        state: directory
    - name: Install version "{{ step_ca_version }}"
      ansible.builtin.unarchive:
        src: "{{ step_ca_download_file.path }}"
        remote_src: true
        dest: /usr/local/step-ca
    - name: Delete temporary download file
      ansible.builtin.file:
        path: "{{ step_ca_download_file.path }}"
        state: absent
    # https://github.com/smallstep/certificates/issues/2013
    - name: Patch .version.sh
      ansible.builtin.replace:
        path: /usr/local/step-ca/.version.sh
        regexp: '^#!\/usr\/bin\/env sh$'
        replace: "#!/usr/bin/env bash"
    - name: Bootstrap
      community.general.make:
        chdir: /usr/local/step-ca
        target: bootstrap
    - name: Build
      community.general.make:
        chdir: /usr/local/step-ca
        target: build
        params:
          GO_ENVS: CGO_ENABLED=1
    - name: Register binaries
      ansible.builtin.find:
        path: /usr/local/step-ca/bin
        file_type: file
      register: step_ca_bin
    - name: Create symbolic links with binaries
      ansible.builtin.file:
        src: "{{ item.path }}"
        dest: /usr/local/bin/{{ item.path | basename }}
        mode: "0755" # -rwxr-xr-x
        state: link
      loop: "{{ step_ca_bin.files }}"

- name: Register configuration file
  ansible.builtin.stat:
    path: /etc/step-ca/config/ca.json
  register: step_ca_json

- name: Initialize
  when: not step_ca_json.stat.exists
  block:
    - name: Create temporary password file
      ansible.builtin.tempfile:
        suffix: step_ca_password
        state: file
      register: step_ca_password_file
    - name: Create password
      ansible.builtin.copy:
        content: "{{ lookup('community.general.random_string') }}"
        dest: "{{ step_ca_password_file.path }}"
        mode: "0600" # -rw-------
    - name: Create temporary provisioner password file
      ansible.builtin.tempfile:
        suffix: step_ca_provisioner_password
        state: file
      register: step_ca_provisioner_password_file
    - name: Copy provisioner password
      ansible.builtin.copy:
        content: "{{ step_ca_provisioner_password }}"
        dest: "{{ step_ca_provisioner_password_file.path }}"
        mode: "0600" # -rw-------
    - name: Initialize
      environment:
        STEPPATH: /etc/step-ca
      ansible.builtin.command:
        cmd: >-
          step
          ca
          init
          --ssh
          --deployment-type=standalone
          --name="Step CA"
          --dns="{{ step_ca_host }}"
          --address=":{{ step_ca_port }}"
          --provisioner="{{ step_ca_provisioner_name }}"
          --admin-subject="{{ step_ca_provisioner_name }}"
          --provisioner-password-file="{{ step_ca_provisioner_password_file.path }}"
          --password-file="{{ step_ca_password_file.path }}"
          --remote-management
          --acme
        creates: /etc/step-ca/config/ca.json
    - name: Delete temporary password file
      ansible.builtin.file:
        path: "{{ step_ca_password_file.path }}"
        state: absent
    - name: Delete temporary provisioner password file
      ansible.builtin.file:
        path: "{{ step_ca_provisioner_password_file.path }}"
        state: absent

- name: Customize
  notify:
    - Restart systemd service
  block:
    - name: Copy certs
      ansible.builtin.copy:
        src: certs
        dest: /etc/step-ca
        mode: "0600" # -rw-------
        directory_mode: "0700" # drwx------
    - name: Template ca.json
      ansible.builtin.template:
        src: ca.json.j2
        dest: /etc/step-ca/config/ca.json
        mode: "0600" # -rw-------
    - name: Template defaults.json
      ansible.builtin.template:
        src: defaults.json.j2
        dest: /etc/step-ca/config/defaults.json
        mode: "0644" # -rw-r--r--
    - name: Delete secrets
      ansible.builtin.file:
        path: /etc/step-ca/secrets
        state: absent
    - name: Copy templates
      ansible.builtin.copy:
        src: templates
        dest: /etc/step-ca
        mode: "0600" # -rw-------
        directory_mode: "0700" # drwx------

- name: Change configuration directory owner and group
  ansible.builtin.file:
    path: /etc/step-ca
    owner: "{{ step_ca_user_name }}"
    group: "{{ step_ca_group_name }}"
    recurse: true
    state: directory

- name: Enable and start systemd service
  ansible.builtin.systemd_service:
    name: step-ca
    enabled: true
    state: started
