- name: Restart systemd service
  # FIXME Using remote_user does not work; the connected user remains equal to
  # ansible_ssh_user (current default is root) rather than value of remote_user.
  # Setting ansible_ssh_user directly achieves the same result.
  vars:
    ansible_ssh_user: "{{ authentik_user_name }}"
  ansible.builtin.systemd_service:
    service: authentik-pod
    scope: user
    daemon_reload: true
    enabled: true
    state: restarted
