services:
  nginx:
{% if nginx_server_tls %}
    image: nginx-tls
    build:
      context: {{ nginx_server_tls_dir.dest }}
      args:
        STEP_VERSION: {{ nginx_server_step_docker_version }}
        NGINX_VERSION: {{ nginx_server_docker_version }}
        TLS_CA_HOST: {{ nginx_server_tls_ca_host }}
        TLS_CA_PORT: {{ nginx_server_tls_ca_port }}
        TLS_CA_FINGERPRINT: {{ nginx_server_tls_ca_fingerprint }}
{% else %}
    image: bitnami/nginx:{{ nginx_server_docker_version }}
{% endif %}
    container_name: nginx
    restart: always
    stop_grace_period: 1m
    environment:
{% if nginx_server_tls %}
      TLS_DOMAINS: {{ nginx_server_tls_domains | join(",") }}
      TLS_ACME_EMAIL: {{ nginx_server_tls_acme_email }}
      TLS_ACME_CLOUDFLARE_FILE: /run/secrets/acme-cloudflare.ini
{% endif %}
    secrets:
{% if nginx_server_tls %}
      - source: acme-cloudflare
        target: acme-cloudflare.ini
{% endif %}
    ports:
      - 80:8080
      - 443:8443
    volumes:
{% if nginx_server_tls %}
      - nginx-tls:/run/tls
{% endif %}

secrets:
{% if nginx_server_tls %}
  acme-cloudflare:
    file: {{ nginx_server_tls_acme_cloudflare_file.dest }}
{% endif %}

networks:
  default:
    name: nginx

volumes:
{% if nginx_server_tls %}
  nginx-tls:
    name: nginx-tls
{% endif %}
