#!/usr/bin/env sh

set -o errexit -o nounset

cp "$RENEWED_LINEAGE/fullchain.pem" "{{ mysql_ssl_certificate }}"
cp "$RENEWED_LINEAGE/privkey.pem" "{{ mysql_ssl_certificate_key }}"

mysql --execute="ALTER INSTANCE RELOAD TLS;"
