services:
  mysql:
{% if mysql_server_tls %}
    image: mysql-tls
    build:
      context: {{ mysql_server_tls_dir.dest }}
      args:
        STEP_VERSION: {{ mysql_server_step_docker_version }}
        MYSQL_VERSION: {{ mysql_server_docker_version }}
        TLS_CA_HOST: {{ mysql_server_tls_ca_host }}
        TLS_CA_PORT: {{ mysql_server_tls_ca_port }}
        TLS_CA_FINGERPRINT: {{ mysql_server_tls_ca_fingerprint }}
{% else %}
    image: bitnami/mysql:{{ mysql_server_docker_version }}
{% endif %}
    container_name: mysql
    restart: always
    stop_grace_period: 1m
    environment:
      MYSQL_ROOT_USER: {{ mysql_server_root_username }}
      MYSQL_ROOT_PASSWORD_FILE: /run/secrets/root-password
      MYSQL_MASTER_HOST: {{ mysql_server_master_host }}
      MYSQL_MASTER_PORT_NUMBER: {{ mysql_server_master_port }}
      MYSQL_MASTER_ROOT_USER: {{ mysql_server_root_username }}
      MYSQL_MASTER_ROOT_PASSWORD_FILE: /run/secrets/root-password
      MYSQL_REPLICATION_USER: {{ mysql_server_replication_username }}
      MYSQL_REPLICATION_PASSWORD_FILE: /run/secrets/replication-password
      MYSQL_REPLICATION_MODE: {{ mysql_server_replication_mode }}
      MYSQL_EXTRA_FLAGS: {{ mysql_server_flags | join(",") }}
{% if mysql_server_tls %}
      TLS_DOMAINS: {{ mysql_server_tls_domains | join(",") }}
      TLS_USERNAME: {{ mysql_server_tls_username }}
      TLS_PASSWORD_FILE: /run/secrets/tls-password
      TLS_ACME_RFC2136_FILE: /run/secrets/acme-rfc2136.ini
{% endif %}
    secrets:
      - root-password
      - replication-password
{% if mysql_server_tls %}
      - tls-password
      - source: acme-rfc2136
        target: acme-rfc2136.ini
{% endif %}
    ports:
      - {{ mysql_server_port }}:3306
    volumes:
      - mysql:/bitnami/mysql/data

secrets:
  root-password:
    file: {{ mysql_server_root_password_file.dest }}
  replication-password:
    file: {{ mysql_server_replication_password_file.dest }}
{% if mysql_server_tls %}
  tls-password:
    file: {{ mysql_server_tls_password_file.dest }}
  acme-rfc2136:
    file: {{ mysql_server_tls_acme_rfc2136_file.dest }}
{% endif %}

networks:
  default:
    name: mysql

volumes:
  mysql:
    name: mysql
