#!/sbin/openrc-run

name=$RC_SVCNAME
description="Step CA"
supervisor="supervise-daemon"
supervise_daemon_args="-e STEPPATH=\"{{ stepca_data.path }}\""
command="{{ stepca.path }}"
command_args=""
command_user="{{ stepca_user.name }}"

reload() {
    ebegin "Reloading $RC_SVCNAME"
    /bin/kill -s HUP \$MAINPID
    eend $?
}
