- name: Define Ansible user facts
  ansible.builtin.setup:
    filter:
      - ansible_user_dir
      - ansible_user_gid
      - ansible_user_uid

- name: Install
  become: true
  environment:
    STEPPATH: "{{ ansible_facts['user_dir'] }}/.step"
  ansible.builtin.command:
    cmd: >-
      step
      ca
      bootstrap
      --ca-url https://{{ ca_host }}:{{ ca_port }}
      --fingerprint {{ ca_fingerprint }}
      --install
    creates: "{{ ansible_facts['user_dir'] }}/.step"
- name: Update .step owner and group
  become: true
  ansible.builtin.file:
    path: "{{ ansible_facts['user_dir'] }}/.step"
    owner: "{{ ansible_facts['user_uid'] }}"
    group: "{{ ansible_facts['user_gid'] }}"
    recurse: true
    state: directory

- name: Create share directory
  become: true
  ansible.builtin.file:
    path: /usr/local/share/ca
    mode: "0755" # drwxr-xr-x
    state: directory
- name: Share root certificate
  become: true
  ansible.builtin.copy:
    src: "{{ ansible_facts['user_dir'] }}/.step/certs/root_ca.crt"
    remote_src: true
    dest: /usr/local/share/ca/{{ ca_fingerprint }}.crt
    mode: "0644" # -rw-r--r--
