- name: Define ansible_user_dir fact
  ansible.builtin.setup:
    filter: ansible_user_dir

- name: Register .step
  ansible.builtin.stat:
    path: "{{ ansible_user_dir }}/.step"
  register: ca_step

- name: Install
  when: not ca_step.stat.exists
  environment:
    STEPPATH: "{{ ansible_user_dir }}/.step"
  ansible.builtin.command: >-
    step
    ca
    bootstrap
    --ca-url https://{{ ca_host }}:{{ ca_port }}
    --fingerprint {{ ca_fingerprint }}
    {% if ansible_user == 'root' %}
    --install
    {% endif %}
  changed_when: true

- name: Share
  when: ansible_user == 'root'
  block:
    - name: Create share directory
      ansible.builtin.file:
        path: /usr/local/share/ca
        owner: "{{ ansible_user }}"
        group: "{{ ansible_user }}"
        mode: "0755" # drwxr-xr-x
        state: directory
    - name: Share root certificate
      ansible.builtin.copy:
        src: "{{ ansible_user_dir }}/.step/certs/root_ca.crt"
        remote_src: true
        dest: /usr/local/share/ca/{{ ca_fingerprint }}.crt
        owner: "{{ ansible_user }}"
        group: "{{ ansible_user }}"
        mode: "0644" # -rw-r--r--
