[Unit]
Description=Gitea
After=network.target

[Service]
Type=simple
User={{ gitea_user_name }}
Group={{ gitea_group_name }}
Environment=USER={{ gitea_user_name }}
Environment=HOME=/home/{{ gitea_user_name }}
WorkingDirectory=/var/lib/gitea
ExecStart=/usr/local/bin/gitea web --config /etc/gitea/app.ini
Restart=always
RestartSec=2s

[Install]
WantedBy=multi-user.target
