- name: Install required packages
  become: true
  ansible.builtin.apt:
    update_cache: true
    name:
      - python3
      - python3-dev
      - python3-venv
      - python3-packaging
      - libaugeas-dev
      - gcc
    state: present

- name: Create systemd timer
  become: true
  ansible.builtin.copy:
    src: "{{ item }}"
    dest: /etc/systemd/system/{{ item }}
    mode: "0644" # -rw-r--r--
  loop:
    - certbot.service
    - certbot.timer
  notify:
    - Restart systemd timer

- name: Register version
  ansible.builtin.command: certbot --version
  register: certbot_version_cmd
  changed_when: false
  ignore_errors: true

- name: (Re)install
  when: certbot_version_cmd.rc != 0 or certbot_version not in certbot_version_cmd.stdout
  become: true
  block:
    - name: Stop systemd timer
      ansible.builtin.systemd_service:
        name: certbot.timer
        state: stopped
    - name: Install version "{{ certbot_version }}"
      ansible.builtin.pip:
        name: certbot=={{ certbot_version }}
        virtualenv: /opt/certbot
        virtualenv_command: python3 -m venv
    - name: Create symbolic links with binaries
      ansible.builtin.file:
        src: /opt/certbot/bin/certbot
        dest: /usr/local/bin/certbot
        state: link

- name: Update configuration
  become: true
  notify:
    - Restart systemd timer
  block:
    - name: Template certbot.sh
      ansible.builtin.template:
        src: certbot.sh.j2
        dest: /usr/local/bin/certbot.sh
        mode: "0755" # -rwxr-xr-x
    - name: Template hooks
      vars:
        certbot_hook: "{{ item }}"
      ansible.builtin.template:
        src: certbot-hook.sh.j2
        dest: /usr/local/bin/certbot-{{ item }}-hook.sh
        mode: "0755" # -rwxr-xr-x
      loop:
        - pre
        - post
        - deploy
    - name: Template pre hooks
      ansible.builtin.template:
        src: roles/{{ item }}/templates/_certbot-pre-hook.sh.j2
        dest: /usr/local/bin/certbot-{{ item }}-pre-hook.sh
        mode: "0755" # -rwxr-xr-x
      loop: "{{ certbot_acme_hooks_pre }}"
    - name: Template post hooks
      ansible.builtin.template:
        src: roles/{{ item }}/templates/_certbot-post-hook.sh.j2
        dest: /usr/local/bin/certbot-{{ item }}-post-hook.sh
        mode: "0755" # -rwxr-xr-x
      loop: "{{ certbot_acme_hooks_post }}"
    - name: Template deploy hooks
      ansible.builtin.template:
        src: roles/{{ item }}/templates/_certbot-deploy-hook.sh.j2
        dest: /usr/local/bin/certbot-{{ item }}-deploy-hook.sh
        mode: "0755" # -rwxr-xr-x
      loop: "{{ certbot_acme_hooks_deploy }}"

- name: Enable and start systemd timer
  become: true
  ansible.builtin.systemd_service:
    name: certbot.timer
    enabled: true
    state: started
