host all         all         all     scram-sha-256
host replication replication all     scram-sha-256

{#
include /bitnami/postgresql/conf/pg_hba.d

{% if postgresql_server_tls %}
# TYPE  DATABASE    USER        ADDRESS METHOD
hostssl all         all         all     scram-sha-256
hostssl replication replication all     scram-sha-256
{% else %}
# TYPE    DATABASE    USER        ADDRESS METHOD
hostnossl all         all         all     scram-sha-256
hostnossl replication replication all     scram-sha-256
{% endif %}
#}
