services:
  postgresql:
    image: bitnami/postgresql@{{ postgresql_server_docker_version }}
    container_name: postgresql
    restart: always
    stop_grace_period: 1m
    environment:
      POSTGRESQL_DATABASE: {{ postgresql_server_database }}
      POSTGRESQL_USERNAME: {{ postgresql_server_username }}
      POSTGRESQL_PASSWORD_FILE: /run/secrets/postgresql-password
      POSTGRESQL_REPLICATION_MODE: {{ postgresql_server_replication_mode }}
      POSTGRESQL_REPLICATION_USER: {{ postgresql_server_replication_username }}
      POSTGRESQL_REPLICATION_PASSWORD_FILE: /run/secrets/replication-password
      POSTGRESQL_MASTER_HOST: {{ postgresql_server_master_host }}
      POSTGRESQL_MASTER_PORT_NUMBER: {{ postgresql_server_master_port }}
    secrets:
      - postgresql-password
      - replication-password
    ports:
      - 5432:5432
    volumes:
      - postgresql:/bitnami/postgresql

secrets:
  postgresql-password:
    file: ./postgresql-password
  replication-password:
    file: ./replication-password

networks:
  default:
    name: postgresql

volumes:
  postgresql:
    name: postgresql
