services:
  postgresql:
{% if postgresql_server_tls %}
    image: postgresql-tls
    build:
      context: {{ postgresql_server_tls_dir.dest }}
      args:
        STEP_VERSION: {{ postgresql_server_step_docker_version }}
        POSTGRESQL_VERSION: {{ postgresql_server_docker_version }}
        TLS_CA_HOST: {{ postgresql_server_tls_ca_host }}
        TLS_CA_PORT: {{ postgresql_server_tls_ca_port }}
        TLS_CA_FINGERPRINT: {{ postgresql_server_tls_ca_fingerprint }}
{% else %}
    image: bitnami/postgresql:{{ postgresql_server_docker_version }}
{% endif %}
    container_name: postgresql
    restart: always
    stop_grace_period: 1m
    environment:
      POSTGRESQL_DATABASE: {{ postgresql_server_database }}
      POSTGRESQL_USERNAME: {{ postgresql_server_username }}
      POSTGRESQL_PASSWORD_FILE: /run/secrets/postgresql-password
      POSTGRESQL_REPLICATION_MODE: {{ postgresql_server_replication_mode }}
      POSTGRESQL_REPLICATION_USER: {{ postgresql_server_replication_username }}
      POSTGRESQL_REPLICATION_PASSWORD_FILE: /run/secrets/replication-password
      POSTGRESQL_MASTER_HOST: {{ postgresql_server_master_host }}
      POSTGRESQL_MASTER_PORT_NUMBER: {{ postgresql_server_master_port }}
{% if postgresql_server_tls %}
      TLS_DOMAINS: {{ postgresql_server_tls_domains | join(",") }}
      TLS_ACME_RFC2136_FILE: /run/secrets/acme-rfc2136.ini
{% endif %}
    secrets:
      - postgresql-password
      - replication-password
{% if postgresql_server_tls %}
      - source: acme-rfc2136
        target: acme-rfc2136.ini
{% endif %}
    ports:
      - {{ postgresql_server_port }}:5432
    volumes:
      - postgresql:/bitnami/postgresql
      - {{ postgresql_server_conf_dir.path }}:/bitnami/postgresql/conf

secrets:
  postgresql-password:
    file: {{ postgresql_server_password_file.dest }}
  replication-password:
    file: {{ postgresql_server_replication_password_file.dest }}
{% if postgresql_server_tls %}
  acme-rfc2136:
    file: {{ postgresql_server_tls_acme_rfc2136_file.dest }}
{% endif %}

networks:
  default:
    name: postgresql

volumes:
  postgresql:
    name: postgresql
