- name: Install chrony
  notify:
    - Commit changed files on Alpine Linux
  block:
    - name: Install chrony on Alpine Linux
      when: ansible_os_family == "Alpine"
      community.general.apk:
        name: chrony
        state: installed

- name: Deploy chrony.conf
  ansible.builtin.copy:
    src: roles/ntpservers/files/chrony.conf
    dest: /etc/chrony/chrony.conf
    owner: root
    group: root
    mode: "0644" # -rw-r--r--
  notify:
    - Restart chronyd
    - Commit changed files on Alpine Linux
