nginx_http:
  dns.neontech.dev: |
    upstream dns {
      server localhost:8053;
      # Improve performance by keeping some connections alive.
      keepalive 10;
    }

    server {
      listen 80;
      listen [::]:80;
      server_name dns.neontech.dev;

      include acme_webroot;

      location / {
        return 301 https://$host$request_uri;
      }
    }

    server {
      listen 443 ssl;
      listen [::]:443 ssl;
      server_name dns.neontech.dev;

      include ssl;
      include hsts;

      location / {
        proxy_pass http://dns;
        include proxy_params;
      }
    }
  technitium-dns.neontech.dev: |
    upstream technitium-dns {
      server localhost:5380;
      # Improve performance by keeping some connections alive.
      keepalive 10;
    }

    server {
      listen 80;
      listen [::]:80;
      server_name technitium-dns.neontech.dev;

      include acme_webroot;

      location / {
        return 301 https://$host$request_uri;
      }
    }

    server {
      listen 443 ssl;
      listen [::]:443 ssl;
      server_name technitium-dns.neontech.dev;

      include ssl;
      include hsts;

      location / {
        proxy_pass http://technitium-dns;
        include proxy_params;
      }
    }
