- name: Register version
  check_mode: true
  ansible.builtin.copy:
    content: "{{ technitium_dns_version }}"
    dest: /opt/technitium/dns/.VERSION
    mode: "0644" # rw-r--r--
  register: technitium_dns_version_file

- name: (Re)install
  # noqa no-handler
  when: technitium_dns_version_file.changed
  block:
    - name: Create temporary download file
      ansible.builtin.tempfile:
        suffix: "{{ technitium_dns_download_filename }}"
        state: file
      register: technitium_dns_download_file
    - name: Download "{{ technitium_dns_download_filename }}"
      ansible.builtin.get_url:
        url: https://download.technitium.com/dns/archive/{{ technitium_dns_version }}/{{ technitium_dns_download_filename }}
        checksum: sha256:{{ technitium_dns_download_checksum }}
        dest: "{{ technitium_dns_download_file.path }}"
        mode: "0600" # -rw-------
    - name: Uninstall previous version
      ansible.builtin.file:
        path: /opt/technitium/dns
        state: absent
    - name: Create installation directory
      ansible.builtin.file:
        path: /opt/technitium/dns
        recurse: true
        mode: "0755" # drwxr-xr-x
        state: directory
    - name: Install version "{{ technitium_dns_version }}"
      ansible.builtin.unarchive:
        src: "{{ technitium_dns_download_file.path }}"
        remote_src: true
        dest: /opt/technitium/dns
    - name: Create .VERSION
      ansible.builtin.copy:
        content: "{{ technitium_dns_version }}"
        dest: /opt/technitium/dns/.VERSION
        mode: "0644" # rw-r--r--
    - name: Delete temporary download file
      ansible.builtin.file:
        path: "{{ technitium_dns_download_file.path }}"
        state: absent

- name: Create user "{{ technitium_dns_user_name }}"
  ansible.builtin.user:
    name: "{{ technitium_dns_user_name }}"
    uid: "{{ technitium_dns_user_id }}"
    password: "!"
    create_home: true
    state: present

- name: Create configuration directory
  ansible.builtin.file:
    path: /etc/technitium-dns
    owner: "{{ technitium_dns_user_name }}"
    group: "{{ technitium_dns_user_name }}"
    mode: "0700" # drwx------
    state: directory

- name: Create systemd service
  ansible.builtin.template:
    src: technitium-dns.service.j2
    dest: /etc/systemd/system/technitium-dns.service
    mode: "0644" # -rw-r--r--

- name: Enable and start systemd service
  ansible.builtin.systemd_service:
    name: technitium-dns
    enabled: true
    state: started
