- name: Register version
  ansible.builtin.command: go version
  register: go_version_cmd
  changed_when: false
  ignore_errors: true

- name: (Re)install
  when: go_version_cmd.rc != 0 or "{} {}/{}".format(go_version, go_os, go_arch) not in go_version_cmd.stdout
  block:
    - name: Create temporary download file
      ansible.builtin.tempfile:
        suffix: "{{ go_download_filename }}"
        state: file
      register: go_download_file
    - name: Download "{{ go_download_filename }}"
      ansible.builtin.get_url:
        url: https://go.dev/dl/{{ go_download_filename }}
        checksum: sha256:{{ go_download_checksum }}
        dest: "{{ go_download_file.path }}"
        mode: "0600" # -rw-------
    - name: Uninstall previous version
      ansible.builtin.file:
        path: /usr/local/go
        state: absent
    - name: Install version "{{ go_version }}"
      ansible.builtin.unarchive:
        src: "{{ go_download_file.path }}"
        remote_src: true
        dest: /usr/local
    - name: Delete temporary download file
      ansible.builtin.file:
        path: "{{ go_download_file.path }}"
        state: absent
    - name: Register binaries
      ansible.builtin.find:
        path: /usr/local/go/bin
        file_type: file
      register: go_bin
    - name: Create symbolic links with binaries
      ansible.builtin.file:
        src: "{{ item.path }}"
        dest: /usr/local/bin/{{ item.path | basename }}
        state: link
      loop: "{{ go_bin.files }}"
