- name: Install required packages
  block:
    - name: Install required packages on Alpine Linux
      when: ansible_os_family == "Alpine"
      community.general.apk:
        name: chrony
        state: installed

- name: Deploy chrony.conf
  ansible.builtin.template:
    src: roles/chrony/templates/chrony.conf.j2
    dest: "{{ chrony_conf }}"
    owner: root
    group: root
    mode: "0644" # -rw-r--r--
  notify:
    - Restart chronyd

- name: Start and enable chronyd
  ansible.builtin.service:
    name: chronyd
    state: started
    enabled: true
