- name: Install chrony
  notify:
    - Commit
  block:
    - name: Install chrony on Alpine Linux
      when: ansible_os_family == "Alpine"
      community.general.apk:
        name: chrony
        state: installed

- name: Deploy chrony.conf
  ansible.builtin.template:
    src: roles/chrony/templates/chrony.conf.j2
    dest: "{{ chrony_conf }}"
    owner: root
    group: root
    mode: "0644" # -rw-r--r--
  notify:
    - Restart chronyd
    - Commit

- name: Start and enable chronyd
  ansible.builtin.service:
    name: chronyd
    state: started
    enabled: true
  notify:
    - Commit

- name: Save NTP iptables rules
  notify:
    - Save iptables
  block:
    # NTP Server
    - name: Accept incoming NTP connections (IPv4)
      when: chrony_allows | length > 0
      ansible.builtin.iptables:
        chain: INPUT
        protocol: udp
        destination_port: 123
        jump: ACCEPT
        ip_version: ipv4
        state: present
    - name: Accept incoming NTP connections (IPv6)
      when: chrony_allows | length > 0
      ansible.builtin.iptables:
        chain: INPUT
        protocol: udp
        destination_port: 123
        jump: ACCEPT
        ip_version: ipv6
        state: present
