services:
  redis:
{% if redis_server_tls %}
    image: redis-tls
    build:
      context: {{ redis_server_tls_dir.dest }}
      args:
        STEP_VERSION: {{ redis_server_step_docker_version }}
        REDIS_VERSION: {{ redis_server_docker_version }}
        TLS_CA_HOST: {{ redis_server_tls_ca_host }}
        TLS_CA_PORT: {{ redis_server_tls_ca_port }}
        TLS_CA_FINGERPRINT: {{ redis_server_tls_ca_fingerprint }}
{% else %}
    image: bitnami/redis:{{ redis_server_docker_version }}
{% endif %}
    container_name: redis
    restart: always
    stop_grace_period: 1m
    environment:
      # ACL includes password
      ALLOW_EMPTY_PASSWORD: yes
      REDIS_ACLFILE: /run/secrets/users.acl
      REDIS_REPLICATION_MODE: {{ redis_server_replication_mode }}
      REDIS_MASTER_HOST: {{ redis_server_master_host }}
      REDIS_MASTER_PORT_NUMBER: {{ redis_server_master_port }}
      REDIS_MASTER_PASSWORD_FILE: /run/secrets/redis-password
      REDIS_REPLICA_IP: {{ redis_server_replication_host }}
{% if redis_server_tls %}
      REDIS_TLS_AUTH_CLIENTS: {{ redis_server_tls_clients | ternary("yes", "no") }}
      TLS_DOMAINS: {{ redis_server_tls_domains | join(",") }}
      TLS_USERNAME: {{ redis_server_tls_username }}
      TLS_PASSWORD_FILE: /run/secrets/tls-password
      TLS_ACME_RFC2136_FILE: /run/secrets/acme-rfc2136.ini
{% endif %}
    secrets:
      - redis-password
      - source: users
        target: users.acl
{% if redis_server_tls %}
      - tls-password
      - source: acme-rfc2136
        target: acme-rfc2136.ini
{% endif %}
    ports:
      - {{ redis_server_port }}:6379
    volumes:
      - redis:/bitnami/redis/data

secrets:
  redis-password:
    file: {{ redis_server_password_file.dest }}
  users:
    file: {{ redis_server_users_file.dest }}
{% if redis_server_tls %}
  tls-password:
    file: {{ redis_server_tls_password_file.dest }}
  acme-rfc2136:
    file: {{ redis_server_tls_acme_rfc2136_file.dest }}
{% endif %}

networks:
  default:
    name: redis

volumes:
  redis:
    name: redis
