- name: Register version
  ansible.builtin.command: step version
  register: step_cli_version_cmd
  changed_when: false
  ignore_errors: true

- name: (Re)install
  when: step_cli_version_cmd.rc != 0 or "{} ({}/{})".format(step_cli_version, step_cli_os, step_cli_arch) not in step_cli_version_cmd.stdout
  block:
    - name: Create temporary download file
      ansible.builtin.tempfile:
        suffix: "{{ step_cli_download_filename }}"
        state: file
      register: step_cli_download_file
    - name: Download "{{ step_cli_download_filename }}"
      ansible.builtin.get_url:
        url: "https://github.com/smallstep/cli/releases/download/v{{ step_cli_version }}/{{ step_cli_download_filename }}"
        checksum: sha256:{{ step_cli_download_checksum }}
        dest: "{{ step_cli_download_file.path }}"
        mode: "0600" # -rw-------
    - name: Uninstall previous version
      ansible.builtin.file:
        path: /usr/local/step
        state: absent
    - name: Install version "{{ step_cli_version }}"
      ansible.builtin.unarchive:
        src: "{{ step_cli_download_file.path }}"
        remote_src: true
        dest: /usr/local
    - name: Delete temporary download file
      ansible.builtin.file:
        path: "{{ step_cli_download_file.path }}"
        state: absent
    - name: Rename installation directory
      ansible.builtin.command:
        cmd: mv /usr/local/step_{{ step_cli_version }} /usr/local/step
        removes: /usr/local/step_{{ step_cli_version }}
        creates: /usr/local/step
    - name: Register binaries
      ansible.builtin.find:
        path: /usr/local/step/bin
        file_type: file
      register: step_cli_bin
    - name: Create symbolic links with binaries
      ansible.builtin.file:
        src: "{{ item.path }}"
        dest: /usr/local/bin/{{ item.path | basename }}
        mode: "0755" # -rwxr-xr-x
        state: link
      loop: "{{ step_cli_bin.files }}"
