- name: Prohibit password with root
  ansible.builtin.replace:
    path: /etc/shadow
    regexp: ^root:.*$
    replace: "root:prohibit_password::0:::::"

- name: Update repositories
  block:
    - name: Update repository indexes on Alpine Linux
      when: ansible_os_family == "Alpine"
      community.general.apk:
        update_cache: true

- name: Upgrade packages
  block:
    - name: Upgrade all installed packages to their latest version on Alpine Linux
      when: ansible_os_family == "Alpine"
      community.general.apk:
        upgrade: true
