services:
  mariadb:
{% if mariadb_server_tls %}
    image: mariadb-tls
    build:
      context: {{ mariadb_server_tls_dir.dest }}
      args:
        STEP_VERSION: {{ mariadb_server_step_docker_version }}
        MARIADB_VERSION: {{ mariadb_server_docker_version }}
        TLS_CA_HOST: {{ mariadb_server_tls_ca_host }}
        TLS_CA_PORT: {{ mariadb_server_tls_ca_port }}
        TLS_CA_FINGERPRINT: {{ mariadb_server_tls_ca_fingerprint }}
{% else %}
    image: bitnami/mariadb:{{ mariadb_server_docker_version }}
{% endif %}
    container_name: mariadb
    restart: always
    stop_grace_period: 1m
    environment:
      MARIADB_ROOT_USER: {{ mariadb_server_root_username }}
      MARIADB_ROOT_PASSWORD_FILE: /run/secrets/root-password
      MARIADB_MASTER_HOST: {{ mariadb_server_master_host }}
      MARIADB_MASTER_PORT_NUMBER: {{ mariadb_server_master_port }}
      MARIADB_MASTER_ROOT_USER: {{ mariadb_server_root_username }}
      MARIADB_MASTER_ROOT_PASSWORD_FILE: /run/secrets/root-password
      MARIADB_REPLICATION_USER: {{ mariadb_server_replication_username }}
      MARIADB_REPLICATION_PASSWORD_FILE: /run/secrets/replication-password
      MARIADB_REPLICATION_MODE: {{ mariadb_server_replication_mode }}
      MARIADB_EXTRA_FLAGS: {{ mariadb_server_flags | join(",") }}
{% if mariadb_server_tls %}
      TLS_DOMAINS: {{ mariadb_server_tls_domains | join(",") }}
      TLS_USERNAME: {{ mariadb_server_tls_username }}
      TLS_PASSWORD_FILE: /run/secrets/tls-password
      TLS_ACME_RFC2136_FILE: /run/secrets/acme-rfc2136.ini
{% endif %}
    secrets:
      - root-password
      - replication-password
{% if mariadb_server_tls %}
      - tls-password
      - source: acme-rfc2136
        target: acme-rfc2136.ini
{% endif %}
    ports:
      - {{ mariadb_server_port }}:3306
    volumes:
      - mariadb:/bitnami/mariadb

secrets:
  root-password:
    file: {{ mariadb_server_root_password_file.dest }}
  replication-password:
    file: {{ mariadb_server_replication_password_file.dest }}
{% if mariadb_server_tls %}
  tls-password:
    file: {{ mariadb_server_tls_password_file.dest }}
  acme-rfc2136:
    file: {{ mariadb_server_tls_acme_rfc2136_file.dest }}
{% endif %}

networks:
  default:
    name: mariadb

volumes:
  mariadb:
    name: mariadb
