- name: Install required packages
  block:
    - name: Install required packages on Alpine Linux
      when: ansible_os_family == "Alpine"
      community.general.apk:
        name:
          - docker-rootless-extras
          - docker-cli-compose
        state: installed

- name: Configure cgroups
  block:
    - name: Mount cgroups version 2 on Alpine Linux
      when: ansible_os_family == "Alpine"
      ansible.builtin.replace:
        path: /etc/rc.conf
        regexp: ^.*rc_cgroup_mode=\".*\".*$
        replace: rc_cgroup_mode="unified"
    - name: Start and enable cgroups
      ansible.builtin.service:
        name: cgroups
        state: started
        enabled: true

- name: Create user
  ansible.builtin.user:
    name: "{{ docker_rootless_username }}"
    password: "!"
    comment: Docker Rootless
    state: present
  register: docker_rootless_user

- name: Deploy .profile
  ansible.builtin.template:
    src: roles/docker_rootless/templates/.profile.j2
    dest: "{{ docker_rootless_user.home }}/.profile"
    owner: "{{ docker_rootless_user.name }}"
    group: "{{ docker_rootless_user.name }}"
    mode: "0755" # -rwxr-xr-x

- name: Add subordinate user IDs
  ansible.builtin.lineinfile:
    path: /etc/subuid
    regexp: ^{{ docker_rootless_user.name }}:\d*:\d*$
    line: "{{ docker_rootless_user.name }}:{{ docker_rootless_subuid }}:65536"
    state: present

- name: Add subordinate group IDs
  ansible.builtin.lineinfile:
    path: /etc/subgid
    regexp: ^{{ docker_rootless_user.name }}:\d*:\d*$
    line: "{{ docker_rootless_user.name }}:{{ docker_rootless_subgid }}:65536"
    state: present

- name: Deploy docker-rootless
  block:
    - name: Deploy OpenRC docker-rootless
      when: ansible_os_family == "Alpine"
      ansible.builtin.template:
        src: roles/docker_rootless/templates/docker-rootless.openrc.j2
        dest: /etc/init.d/docker-rootless
        owner: root
        group: root
        mode: "0755" # -rwxr-xr-x

- name: Start and enable docker-rootless
  ansible.builtin.service:
    name: docker-rootless
    state: started
    enabled: true

- name: Allow routing ping packets
  ansible.posix.sysctl:
    name: net.ipv4.ping_group_range
    value: 0 2147483647
    state: present

- name: Allow exposing privileged ports
  ansible.posix.sysctl:
    name: net.ipv4.ip_unprivileged_port_start
    value: "0"
    state: present
